@media screen and (max-width: 992px) {
    .container {
        padding: 0 15px;
    }
}
@media screen and (max-width: 767px) {
.people .d-flex{
flex-direction: column;
}
    .main-banner img{
        position: relative;
        right: 0;
    }

@media screen and (max-width: 428px) {
    nav {
        display: none;
    }

    header .logo {
        position: relative;
        left: 0;
        margin-left: 0px;
        top: 0px;
    }
}
}

