$main_font: 'Roboto', sans-serif;
$main_color: #000000;
$white_color: #fff;

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

* {
  padding: 0;
  margin: 0
}

body {

  background-color: #1f2029;
  overflow-x: hidden;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

header {
  background-color: white;
  padding: 7px 0;

  ul {
    list-style: none;
  }

  a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #1C1B1B;
    text-decoration: none;
  }

  li {

    margin-right: 28px;

    &:first-of-type {
      margin-right: 16px;

      &:last-of-type {
        margin-left: 7px;
      }
    }
  }
}

header nav li:first-of-type {
  margin-right: 28px;
}


header nav li:last-of-type {
  margin-left: 0;
}


.logo {
  position: absolute;
  left: 50%;
  margin-left: -40px;
  top: 13px;
}

.thalby-guides h5 {

  font-family: $main_font;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: $main_color;
  position: relative;
}

.basis h5 {
  font-family: $main_font;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-align: center;

  color: $main_color;
}


.container {
  margin: auto;
  max-width: 1064px;
  position: relative;
  @include max-screen(992px) {
    padding: 0 15px;
  }

}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.main-banner {
  padding: 90px 0px;
  background-color: #F0EFEB;
  position: relative;

  h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: $main_color;
    margin-bottom: 42px;

    p {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      color: $main_color;
      margin-bottom: 26px;
    }
  }

  a {
    background: $main_color;
    border: 1px solid $main_color;
    border-radius: 100px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: $white_color;
    display: inline-block;
    text-decoration: none;
    padding: 7px 23px;
  }

  img {
    position: absolute;
    right: 125px;
    top: 0;
  }
}

.people {
  background: rgba(204, 204, 204, 0.3);
  padding-bottom: 76px;
  padding-top: 61px;

  .for_img {
    max-width: 385px;
    margin-right: 50px;
  }

  img {
    display: block;
    width: 100%;
  }
}

.description {
  max-width: 498px;

  h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: $main_color;
    margin-bottom: 31px;

  }

  p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: $main_color;
    margin-bottom: 40px;
  }

  a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration-line: underline;
    color: $main_color;

  }

}

.guide {

  padding-bottom: 248px;
  padding-top: 60px;

  h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: $main_color;
    margin-bottom: 27px;
  }

  p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: $main_color;
  }
}

.text {
  margin-bottom: 47px;
}

.text-p {
  margin-bottom: 88px;
}

.guide-width {

  max-width: 310px;
  margin: auto;
}

.culture {
  padding-bottom: 76px;
  padding-top: 51px;
  background: rgba(204, 204, 204, 0.6);
}


.second_description {
  max-width: 513px;
  margin-right: 50px;

  h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: right;
    color: $main_color;
    margin-bottom: 31px;
  }

  p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: right;
    color: $main_color;
    margin-bottom: 31px;
  }

  a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: right;
    text-decoration-line: underline;
    color: $main_color;
    display: block;
  }
}

.culture-img {
  display: block;
  width: 100%;
}

.power {
  padding-top: 76px;
  padding-bottom: 51px;
  background: rgba(204, 204, 204, 0.3);
  border-radius: 0px;

  h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: $main_color;
    margin-bottom: 31px;
  }

  p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: $main_color;
    margin-bottom: 39px;
  }

  a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration-line: underline;
    color: $main_color;
  }
}

.people-img {
  max-width: 385px;
  margin-right: 50px;

  img {
    display: block;
    width: 100%;

  }
}

.thalby {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  padding-bottom: 51px;
  justify-content: space-between;
  text-align: center;
}

.basis {
  flex-basis: 33%;
  margin-bottom: 110px;

  .color-1 {
    background: #21F7EC;
    border-radius: 35px;
    height: 70px;
    width: 70px;
    display: inline-block;
    margin-bottom: 26px;
  }

  .color-2 {
    background: #33D3BC;
    border-radius: 35px;
    height: 70px;
    width: 70px;
    display: inline-block;
    margin-bottom: 26px;
  }

  .color-3 {
    background: #18A5C6;
    border-radius: 35px;
    height: 70px;
    width: 70px;
    display: inline-block;
    margin-bottom: 26px;
  }


  .color-4 {
    background: #D38F62;
    border-radius: 35px;
    height: 70px;
    width: 70px;
    display: inline-block;
    margin-bottom: 26px;
  }

  .color-5 {
    background: #F94C43;
    border-radius: 35px;
    height: 70px;
    width: 70px;
    display: inline-block;
    margin-bottom: 26px;
  }

  .color-6 {
    background: #D399FF;
    border-radius: 35px;
    height: 70px;
    width: 70px;
    display: inline-block;
    margin-bottom: 26px;
  }

}


.thalby-guides {
  padding-top: 190px;
  padding-bottom: 290px;

  h4 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: $main_color;
    margin-bottom: 69px;
  }

}


.power-text {
  max-width: 530px;
}


.box {
  margin: auto;
  max-width: 1064px;

  img {
    margin-bottom: 20px;
  }

  h4 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: $main_color;
    margin-bottom: 17px;
  }

  p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: $main_color;
    margin-bottom: 10px;
  }

  a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    text-decoration-line: underline;
    color: $main_color;
    display: block;
  }
}

.men {
  background: #F0F0F0;

  img {
    margin-bottom: 35px;
  }

  h5 {
    font-family: $main_font;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.6px;
    color: $main_color;
    margin-bottom: 64px;

  }

  p {
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin-bottom: 44px;
    color: $main_color;
  }

  a {
    font-family: $main_font;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-decoration-line: underline;
    color: $main_color;
    display: block;
  }
}

.men_first {
  margin-top: -200px;
  padding-bottom: 52px;
}

.input {
  padding-top: 79px;
  padding-bottom: 88px;

  h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: $main_color;
    margin-bottom: 9px;
  }

  p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: $main_color;
    margin-bottom: 28px;

  }
}

.input-form {
  max-width: 366px;
  margin: auto;

  input {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #A0A0A0;
    border: 1px solid $main_color;
    border-radius: 0px;
    padding-left: 8px;
    height: 39px;
    box-sizing: border-box;
    width: 100%;

  }
}

.first-input {
  max-width: 366px;
  margin: auto;
  margin-bottom: 18px;
}

.First-Name {
  max-width: 153px;
}

.Last-Name {
  max-width: 153px;

}

.last-input {
  max-width: 366px;
  margin: auto;
  margin-bottom: 16px;

}

.button{
  width: 115px;
  margin: auto;
}
form button{
  background: $main_color;
  border: 1px solid $main_color;
  border-radius: 100px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $white_color;
  padding: 7px 23px 10px 23px;
}

footer {
  padding-top: 51px;
  padding-bottom: 16px;
  background: #020202;
  a {
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $white_color;
    text-decoration: none;
    list-style: none;
  }
  h5 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    color: $white_color;
    margin-top: 8px;
  }
}

.footer{
  max-width: 1280px;
  margin: auto;
}

.ul-about  li{
  margin-bottom: 12px;
  &:first-of-type {
    margin-bottom: 36px;
  }
}



.last-logo {
  margin-right: 585px;
  max-width: 127px;

}


.icon {
  margin-top: 38px;
  justify-content: space-between;
}

.Search{
  max-width: 600px;

}

.Search-enter {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  color: #A0A0A0;
  border: 1px solid $main_color;
  border-radius: 30px;
  padding-left: 8px;
  height: 39px;
  margin-bottom: 15px;
  width: 100%;
}



.ui-widget-header {
  border: 1px solid #dddddd;
  background: #F0EFEB;
  color: $main_color;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 15px;
}

.ui-draggable .ui-dialog-titlebar{
  text-align: center;
}

#dialog {
  overflow: hidden;
  text-align: center;
  display: none;
}


.ui-widget{
  border: 2px solid $main_color;
  background: $white_color;
  font-weight: normal;
  font-size: 20px;
  color: $main_color;
  font-family: 'Roboto', sans-serif;

}
.ui-widget.ui-widget-content {
  border: 7px solid $main_color;
  max-width: 650px;
  max-height: 150px;

}


