$main_font:'Roboto', sans-serif;
$main_color:#000000;
$white_color:#fff;

@mixin max-screen($res)
{
  @media screen and (max-width: $res)
  {
    @content;
  }
}


.thalby-guides h5 {

  font-family: $main_font;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color:$main_color;
  position: relative;
}

.basis h5{
  font-family: $main_font;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-align: center;

  color: $main_color;
}


.men {
  background: #F0F0F0;
}

.men_first {
  margin-top: -200px;
  padding-bottom: 52px;
}


.men img {
  margin-bottom: 35px;
}


.men h5 {
  font-family:$main_font;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.6px;
  color: $main_color;
  margin-bottom: 64px;

}

.men p {
  font-family: $main_font;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 44px;
  color: $main_color;
}

.men a {
  font-family: $main_font;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-decoration-line: underline;
  color: $main_color;
  display: block;}



footer .ul-about a{
  font-family: $main_font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $white_color;
  text-decoration: none;
  list-style: none;
}

.container {
  margin: auto;
  max-width: 1064px;
@include max-screen(992px){
  padding: 0 15px;
}

}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

header ul {
  list-style: none;
}

header nav li a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #1C1B1B;
  text-decoration: none;
}

header nav li {
  margin-right: 28px;
}

header li:first-of-type {
  margin-right: 16px;
}

header nav li:first-of-type {
  margin-right: 28px;
}

header li:last-of-type {
  margin-left: 7px;
}

header nav li:last-of-type {
  margin-left: 0;
}

header .container {
  position: relative;
}

header .logo {
  position: absolute;
  left: 50%;
  margin-left: -40px;
  top: 13px;
}

.main-banner {
  padding: 90px 0px;
  background-color: #F0EFEB;
  position: relative;
  h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 42px;
    p {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      color: #000000;
      margin-bottom: 26px;
    }
  }
}


.last-logo{
  margin-right: 585px;
  max-width:127px ;
li{
  &:first-of-type{

  margin-right: 23px;

      &:last-of-type{
        margin-left: 21px;
      }
    }
  }
}


.icon{
  margin-top: 38px;
}







