*{
    padding: 0;
    margin: 0;
}
header{
    background-color: white;
    padding: 7px 0;
}
.container{
    margin: auto;
    max-width: 1064px;
}
.d-flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
header ul{
    list-style: none;
}
header nav li a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #1C1B1B;
    text-decoration: none;
}
header nav li{
    margin-right: 28px;
}
header li:first-of-type{
    margin-right: 16px;
}
header nav li:first-of-type{
    margin-right: 28px;
}
header li:last-of-type{
    margin-left: 7px;
}
header nav li:last-of-type{
    margin-left: 0;
}
header .container{
    position: relative;
}
header .logo{
    position: absolute;
    left: 50%;
    margin-left: -40px;
    top: 13px;
}

.main-banner{
    padding: 90px 0px;
   background-color: #F0EFEB;
    position: relative;
}

.main-banner h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
 margin-bottom: 42px;
}

.main-banner p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 26px;
}


.main-banner a{
    background: #000000;
    border: 1px solid #000000;
    border-radius: 100px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    display:inline-block ;
    text-decoration: none;
    padding: 7px 23px;
}

.main-banner img{
    position: absolute;
    right: 60px;
    top: 0;
}

.people{
    background: rgba(204, 204, 204, 0.3);
   padding-bottom:76px;
    padding-top: 61px;
}

.people .for_img{
    max-width: 385px ;
    margin-right: 50px ;
}

.people .for_img img{
    display: block;
    width: 100%;
}

.description{

    max-width: 498px;
}

.description h2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 31px;

}

.description p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 40px;
}

.description a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #000000;

}

.guide{

    padding-bottom: 248px;
    padding-top: 60px;
}

.guide h3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    margin-bottom: 27px;
}

.guide p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
}

.text{
    margin-bottom: 47px;
}

.text-p{
margin-bottom: 88px;
}

.guide .text-h3{
    margin-bottom: 52px;
}

.box{
    margin: auto;
    max-width: 1064px;

}

.box img{
    margin-bottom: 20px;
}

.box h4{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-bottom: 17px;
}


.box p {
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 20px;
text-align: center;
color: #000000;
margin-bottom: 10px;
}

.box a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
    display: block;
}

.culture{
    padding-bottom: 76px;
    padding-top: 51px;
    background: rgba(204, 204, 204, 0.6);
}

.second_description{
    max-width: 513px;
    margin-right: 50px;
}

.second_description h2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: right;
    color: #000000;
    margin-bottom: 31px;
}

.second_description p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: right;
    color: #000000;
    margin-bottom: 31px;
}

.second_description a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: right;
    text-decoration-line: underline;
    color: #000000;
    display: block;
}

.culture-img{
    max-width: 385px;
}

.culture .second_description img{
    display: block;
    width: 100%;

}

.power{
padding-top: 76px;
    padding-bottom:51px ;
    background: rgba(204, 204, 204, 0.3);
    border-radius: 0px;
}

.people-img{
    max-width: 385px;
    margin-right: 50px;
}

.power .people-img img{
    display: block;
    width: 100%;

}

.power-text{
    max-width: 530px;
}
.power h3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 31px;
}

.power p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 39px;
}

.power a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #000000;
}




